/* styles.css */
html,body {

    min-height: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fffdfd;
    font-size: 13px;
    padding-top: 9px;
}
h2
{

  color: #eae4f5;
  font-size: 11px;
}
h2::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='white' class='bi bi-geo-alt-fill' viewBox='0 0 16 16'%3e%3cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z'/%3e%3c/svg%3e");
  margin-right: 1px; /* Додайте відступ для розділення іконки від тексту */
}
.rounded-box {
  display: flex; /* Встановлюємо властивість display на flex для гнучкого блока */
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центрування по вертикалі */
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 4px;
  width: fit-content;
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
    font-size: 16px;
}
/* styles.css */
.sidebar {
  position: fixed; /* Зробіть сайдбар фіксованим */
  top: 0; /* Відстань від верхнього краю сторінки */

  bottom: 0; /* Відстань від нижнього краю сторінки */
  width: 300px;
  background-color: #2d76ff;
  color: #ffffff;
  padding: 0;
}

.introduction{
  padding-bottom: 20px; 

  padding-top: 15px;
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top: 215px; /* Змінено з 15px на 215px для зміщення вниз */
}

/* styles.css */
.content {
  height: 100%;
    margin-left: 270px; /* Ширина сайдбара + додатковий відступ для відокремлення */
    padding: 20px; /* Внутрішні відступи для основного вмісту */
}

  
  html {
    height: -webkit-fill-available;
  }
 
  
  main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    width: 300px; /* Задайте бажаний розмір кнопки по ширині */
    height: 40px; /* Задайте бажаний розмір кнопки по висоті */
    padding: .30rem .5rem;
    font-weight: 400;
    color: var(--bs-emphasis-color), #ede6e6; /* Колір тексту */
    ;
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  #btn1 {
    position: relative;
    padding-left: 85px; /* Задаємо відступ для тексту */
    padding-top:7px ;
}

#btn1::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-house' viewBox='0 0 16 16'%3e%3cpath d='M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z'/%3e%3c/svg%3e");
    position: absolute;
    top: 7px; /* Зміщення іконки вгору */
    left: 30px; /* Зміщення іконки вліво */
    width: 30px;
    height: 30px;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
#btn2 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn2::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-calendar-event' viewBox='0 0 16 16'%3e%3cpath d='M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z'/%3e%3cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

#btn3 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn3::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-send-exclamation' viewBox='0 0 16 16'%3e%3cpath d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

#btn4 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn4::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-journal-text' viewBox='0 0 16 16'%3e%3cpath d='M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z'/%3e%3cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z'/%3e%3cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
  
#btn5 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn5::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-envelope' viewBox='0 0 16 16'%3e%3cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
#btn6 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn6::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-chat-left-text' viewBox='0 0 16 16'%3e%3cpath d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3e%3cpath d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z'/%3e%3c/svg%3e");  
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

#btn7, #btn8 {
  width: 40px; /* Ширина кнопок */
  height: 40px; /* Висота кнопок */
  border-radius: 0; /* Робить кнопки квадратними */
  position: fixed;
  bottom: 15px; /* Відстань від нижнього краю сторінки */
  left: 15px;
}
#btn8 {
  left: 230px; /* Відстань між кнопками (30px ширина кнопки + 40px відстань) */
}
#btn7::before {
  position: absolute;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='white' class='bi bi-gear' viewBox='0 0 16 16'%3e%3cpath d='M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z'/%3e%3cpath d='M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a.873.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a.873.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a.873.873 0 0 0 1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a.873.873 0 0 0 2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a.873.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291a.873.873 0 0 0-2.693 1.116l.094-.319z'/%3e%3c/svg%3e");  position: absolute;
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
#btn8::before {
  position: absolute;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='white' class='bi bi-power' viewBox='0 0 16 16'%3e%3cpath d='M7.5 1v7h1V1h-1z'/%3e%3cpath d='M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z'/%3e%3c/svg%3e");
 
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}



  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg  xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  