/* styles.css */
html,body {

    min-height: 100%;
    height: 100%;
    background-color: #ffffff;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sidebar1 
{
    color:  #d4ecf9;
    font-size: 13px;
    padding-top: 9px;
}
.sidebar2
{
  color:  #d4ecf9;
  font-size: 11px;
}

h3
{
  position: absolute;
  color: #737373;
  font-size: 12px;
}
h4
{
  color: #b1b1b1;
  font-size: 10px;
  font-family: Sofia Pro Condensed Regular;
  margin-top: 15px; /* Зменшити відстань вгору */

}
h5
{
  color: #0288d1;
  font-size: 14px;
  margin-bottom: 1px; /* Зменшити відстань вниз */

}
h6
{
  color: #03a9f5;
  font-size: 12px;
  margin-top: 1px; /* Зменшити відстань вгору */

}
.courses
{
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 1px; /* Зменшити відстань вниз */

  margin-top: 0px; /* Зменшити відстань вгору */

}
.courses1
{
  color: #ffffff;
  font-size: 12px;
  margin-top: 1px; /* Зменшити відстань вгору */
}
.courses2
{
  color: #313131;
  font-size: 12px;
  margin-bottom: 1px; /* Зменшити відстань вниз */
  font-weight: bold;

  margin-top: 0px; /* Зменшити відстань вгору */

}
.courses3
{
  color: #707070;
  font-size: 12px;
  margin-top: 0px; /* Зменшити відстань вгору */

}
.message1 {
  color: #161515;
  font-size: 12px;
  margin-bottom: 0px; /* Зменшити відстань вниз */
  margin-top: 0px; /* Зменшити відстань вгору */
  font-weight: bold;
}

.message2 {
  color: #707070;
  font-size: 10px;
  margin-top: 0px; /* Встановити відстань вгору на 2 пікселі між 2-м та 3-м класами */
  margin-bottom: 0px; /* Зменшити відстань вниз */
  font-weight: bold;

}

.message3 {
  color: #9c9c9c;
  font-size: 8px;
  margin-top: 0px; /* Зменшити відстань вгору */
  margin-bottom: 5px; /* Зменшити відстань вниз */
}
#setting2{
  background-color: green;
}

.rounded-circle {
  border-radius: 50%; /* Встановіть 50% для зроблення зображення круглим */
}
#percentageDisplay {
  margin-bottom: 2px; /* Зменшено відстань між прямокутником і текстом */
  font-size: 10px;

}

.rectangle-container {
  
width: 30px; /* Фіксована ширина блоку іконки та тексту */
height: 50px;
text-align: center;
margin-right: 10px;
align-items: center;

}
.photo-container {
  
  width: 20px; /* Фіксована ширина блоку іконки та тексту */
  height: 50px;
  margin-right: 20px;
  align-items: center;
  
  }
.rectangle-container-text{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: block; /* Забезпечує розташування блокового контейнера */
}
.photo-container-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block; /* Забезпечує розташування блокового контейнера */
  }
  .photo-and-setting
  {
 margin-top: 0px; /* Зменшено відстань між прямокутником і текстом */
 position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;

  }

 .in-of-setting {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0px;
  left: 2px;
  background-color: red;
  border-color: #ccc;
  border: 1px;
  border-radius: 50%;
  z-index: 2; /* Вище z-index, ніж у .photo */
 }
.plus{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fec107;
  border-radius: 50%;
  border:none;
  border-color: white;
  text-align: center;
  line-height: 25px;
  font-size: 24px;
  color: white;
  z-index: 3; /* Вище z-index, ніж у .in-of-setting і .photo */
left: 245px;
top: 30px;}

.rectangle1 {
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #fec107;
  line-height: 25px;
  z-index: 3;
  left: 0px;
  top: 0px;
  display: none; /* Початково прихований */
}

.btn-toggle.active1 .rectangle1 {
  display: block; /* Відображення, якщо є клас active1 у батьківського елемента */
}




.plus::before {
  content: "+";
}
.rectangle {
  width: 30px;
  height: 15px;
  border: 1px solid #ffffff;
  position: relative;

}

.filler {
 
  position: absolute;
  margin-top: 0px; /* Зменшено відстань між прямокутником і текстом */

}
.photo {
   position: relative;

}
.photo img {
  display: block;
  width: 30px;
  height: 30px;
}

#f1.filler{
  width: 100%;
  height: 100%;
  background-color: #fec107;
}

#f2.filler{
  width: 100%;
  height: 70%;
  background-color: #30c2d0;
}
#f3.filler{
  width: 100%;
  height: 55%;
  background-color: #30c2d0;
}

#f4.filler{
  width: 100%;
  height: 20%;
  background-color: #c00202;
}

.sidebar2::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='white' class='bi bi-geo-alt-fill' viewBox='0 0 16 16'%3e%3cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z'/%3e%3c/svg%3e");
  margin-right: 1px; /* Додайте відступ для розділення іконки від тексту */
}
.rounded-box {
  display: flex; /* Встановлюємо властивість display на flex для гнучкого блока */
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центрування по вертикалі */
  border: 1px solid  #d4ecf9;
  border-radius: 20px;
  padding: 4px;
  width: fit-content;
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
    font-size: 16px;
}
/* styles.css */
.sidebar {
  position: fixed; /* Зробіть сайдбар фіксованим */
  top: 0; /* Відстань від верхнього краю сторінки */
  bottom: 0; /* Відстань від нижнього краю сторінки */
  width: 250px;
  background-color: #03a9f5;
  color:  #d4ecf9;
  padding: 0;
  z-index: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-content {
  margin-left: 250px; /* Відступ для сторінки, щоб не перекривати сайдбар */
  background-color: #fff;
}
.page-content2 {
  margin-left: 250px; /* Відступ для сторінки, щоб не перекривати сайдбар */
  background-color: #fff;
}
.panell {
  display: flex;
  align-items: center;
  padding: 11px 0;
  color: #ffffff;
  background-color: #0288d1;
  height: 45px;
  padding-left:10px;

}
.my-image{
      margin-left: 800px; /* Збільште або зменште це значення залежно від вашого вибору */

}
.panell::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  margin-right: 10px; /* Зменшуємо відстань між іконкою та текстом */
}

.panell2 {
  display: flex;
  align-items: center;
  padding: 11px 0;
  color: #ffffff;
  background-color: #0288d1;
  height: 45px;
  padding-left:10px;
}

.panell2::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  margin-right: 10px; /* Зменшуємо відстань між іконкою та текстом */
}
 
.introduction{
  padding-bottom: 20px; 

  padding-top: 15px;
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top: 215px; /* Змінено з 15px на 215px для зміщення вниз */
}

/* styles.css */
.content {
  height: 100%;
    margin-left: 270px; /* Ширина сайдбара + додатковий відступ для відокремлення */
    padding: 20px; /* Внутрішні відступи для основного вмісту */
}

  
  html {
    height: -webkit-fill-available;
  }
 
  
  main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    width: 250px; /* Задайте бажаний розмір кнопки по ширині */
    height: 40px; /* Задайте бажаний розмір кнопки по висоті */
    padding: .30rem .5rem;
    font-weight: 400;
    color: var(--bs-emphasis-color),  #d4ecf9; /* Колір тексту */;
    background-color: transparent;
    border: none;
    text-align: left; /* Вирівнюємо текст по лівому краю */

    display: flex;
  flex-direction: row; /* Змініть напрямок флекс-контейнера на горизонтальний */
  align-items: center;
  justify-content: flex-start; /* Вирівняйте зліва */
    text-align: left; /* Вирівнюйте текст зліва */

  }
  .btn-toggle svg path {
    fill: #9c9997; /* Встановлює колір SVG шляху */
}
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgb(255, 255, 255);
    background-color: #0288d1;
  }
 .active1 {
    background-color: #0288d1;
  }
 
  #btn1 {
    position: relative;
    padding-left: 85px; /* Задаємо відступ для тексту */
    padding-top:7px ;
}
.visible {
  display: block;
}

.hidden {
  display: none;
}

#btn1::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-house' viewBox='0 0 16 16'%3e%3cpath d='M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z'/%3e%3c/svg%3e");
    position: absolute;
    top: 7px; /* Зміщення іконки вгору */
    left: 30px; /* Зміщення іконки вліво */
    width: 30px;
    height: 30px;
    transition: transform .35s ease;
    transform-origin: .5em 50%;

}
#btn2 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn2::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-calendar-event' viewBox='0 0 16 16'%3e%3cpath d='M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z'/%3e%3cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;

}

#btn3 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn3::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-send-exclamation' viewBox='0 0 16 16'%3e%3cpath d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

#btn4 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn4::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-journal-text' viewBox='0 0 16 16'%3e%3cpath d='M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z'/%3e%3cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z'/%3e%3cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
  
#btn5 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn5::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-envelope' viewBox='0 0 16 16'%3e%3cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z'/%3e%3c/svg%3e");
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
#btn6 {
  position: relative;
  padding-left: 85px; /* Задаємо відступ для тексту */
  padding-top:7px ;
}
#btn6::before {
  
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-chat-left-text' viewBox='0 0 16 16'%3e%3cpath d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3e%3cpath d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z'/%3e%3c/svg%3e");  
  position: absolute;
  top: 7px; /* Зміщення іконки вгору */
  left: 30px; /* Зміщення іконки вліво */
  width: 30px;
  height: 30px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

#btn7, #btn8 {
  width: 40px; /* Ширина кнопок */
  height: 40px; /* Висота кнопок */
  border-radius: 50%; /* Робить кнопки квадратними */
  position: fixed;
  top: 550px;
  left: 15px;
}
#btn8 {
  left: 200px; /* Відстань між кнопками (30px ширина кнопки + 40px відстань) */
}
#btn7::before {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 25px; /* Додаємо цей рядок */
  text-align: center; /* Центруємо текст по горизонталі */
  transition: transform .35s ease;
  transform-origin: center center; /* Центруємо трансформацію по горизонталі і вертикалі */

}
#btn8::before {
  display: flex;
  position: absolute; 
  width: 40px;
  height: 40px;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
.bi.bi-gear path {
  fill: white; /* Змінюємо колір іконки на червоний */
}
.bi.bi-power path{
    fill: white; /* Змінюємо колір іконки на червоний */
}
.icon {
  display: flex; /* Застосовуємо flex для іконки */
  justify-content: center; /* Вирівнюємо по горизонталі відносно батьківського контейнера */
  align-items: center; /* Вирівнюємо по вертикалі відносно батьківського контейнера */
  text-align: center; /* Вирівнюємо текст по горизонталі відносно батьківського контейнера */
padding-left: 4px;
}



.icon svg {
  align-items: center;
  justify-content: center;
}

#btn1::before,
#btn2::before,
#btn3::before,
#btn4::before,
#btn5::before,
#btn6::before {
  filter: brightness(90%); /* Змінюємо яскравість, щоб домогтися потрібного кольору */
} 
.marks{
  width: 2px;
  height: 7px;
  background-color: #fe07a3;
  margin-left: 30px;

}
.list-group-item.list-group-item-action.courses
{ 
  height: 50px;
}
.list-group-item.list-group-item-action.message
{ 
  height: 50px;
}
.panel.list-group .list-group-item {
  border-radius: 0; /* Зняти заокругленість країв */
  color: black;
}
.panel.list-group {
  width: 600px;
  height: 400px;
  margin-top: 30px;
  margin-left: 30px;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 1px;
  position: relative;
}

.panel.list-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px; /* Відступ лівіше від рамки списку */
  width: 12px; /* Ширина прокрутки */
  height: 100%;
  background-color: #fff; /* Колір фону, щоб приховати смугу прокрутки */
}

.panel.list-group::-webkit-scrollbar {
  width: 6px; /* Ширина смуги прокрутки */
}

.panel.list-group::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Колір смуги прокрутки */
  border-radius: 10px;
}

.panel.list-group .list-group-item {
  position: relative;
  color:  #0288d1;
  
}

.panel.list-group .list-group-item:not(:first-child)::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.panel.list-group .list-group-item:nth-child(odd)::before {
  background-color: #fec107;
}

.panel.list-group .list-group-item:nth-child(even)::before {
  background-color: #03a9f5;
}
.panel.list-item-content {
  display: flex;
  height: auto;

}
.rectangle-container-text-together{
display: flex;
height: auto;}

.photo-container-text-together{
  display: flex;
  height: auto;}

.panel.item-title{
  color:#555259;
  display: flex; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px; /* Задайте максимальну ширину, яка вам потрібна */
}

.panel.item-views {
  font-size: 7px;
  color:#b7b7b7;
  height: 30px;
  width: 0px;
  text-align: center; /* Вирівнювання тексту по центру */
position: relative;
}

.panel.item-details {
  display: flex;
  width: 50px; /* Фіксована ширина блоку іконки та тексту */
  align-items: center;
 
} 
#my-svg {
  fill:#b7b7b7;
  

}
.message.list-group .list-group-item {
  border-radius: 0; /* Зняти заокругленість країв */
  color: black;
  margin-right: 25px; /* Встановити відстань між елементами */
}

.message.list-group {
  width: 240px;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 0px;
  position: relative;
}

.courses.list-group .list-group-item {
  border-radius: 0; /* Зняти заокругленість країв */
  color: black;
}

.courses.list-group {
  width: 240px;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}
.down {
  max-height: 300px; /* Задайте максимальну висоту, на яку ви хочете обмежити блок */
  max-width: 625px;
  display: flex; /* Встановіть flex-контейнер для розміщення елементів поруч */
  flex-direction: row; /* Розташуйте елементи горизонтально */
  overflow: hidden; /* Сховайте зайвий контент, якщо він виходить за межі */
}



.down .list-group.message,
.down .list-group.courses {
  max-height: 100%; /* Зробіть блоки повідомлень і курсів максимальною висотою */
  flex: 1; /* Розтягніть обидва блоки на рівній ширині в "down" */

}

.list-group-item.list-group-item-action.message.active
{
  background-color: #03a9f5;
  color:#d4ecf9;
  border: rgb(165, 165, 165); /* Змініть 'red' на бажаний вами колір */

}

.list-group-item.list-group-item-action.courses.active
{
  background-color: #03a9f5;
  color:#d4ecf9;
  border: rgb(165, 165, 165); /* Змініть 'red' на бажаний вами колір */
}

.right-panel {
  max-height: 700px; /* Задайте максимальну висоту, на яку ви хочете обмежити блок */
  max-width: 550px;
  display: flex; /* Встановіть flex-контейнер для розміщення елементів поруч */
  flex-direction: column; /* Розташуйте елементи горизонтально */
  overflow: hidden; /* Сховайте зайвий контент, якщо він виходить за межі */
  margin-top: 30px;
  margin-left: 30px;
}
.right-panel.right-panel1,
.right-panel.right-panel2-content {
  max-height: 100%; /* Зробіть блоки повідомлень і курсів максимальною висотою */
  flex: 1; /* Розтягніть обидва блоки на рівній ширині в "down" */
}
.right-panel1 img {
  height: 200px;
  width: 300px;
  background-color: #fec107;
  margin-bottom: 30px;
}
.right-panel2-content{
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column; /* Розташуйте елементи горизонтально */
  

}
#cont1,#cont2,#cont3,#cont4{
  height: 50px;
  width: 250px;
margin-left: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid  #e5e5e5;
}
#cont2{
  margin-bottom: 1px;
 
}
.content1
{
  display: flex;
  align-items: center; /* Вирівнюємо по вертикалі відносно батьківського контейнера */

}
.content2
{
  height: 24px;
  width: 24px;
  background-color: #d80000;
  font-size: 15px;
  color: floralwhite;
  text-align: center;
}
#cont1_1,#cont2_1,#cont4_1
{margin-bottom: 2px;}
#cont1_1,#cont1_2
{
  background-color: #03a9f5;
}
#cont2_1,#cont2_2
{
  background-color: #fec107;
}
#cont4_1,#cont4_2
{
  background-color: #30c2d0;
}
#block2{
  margin: 10px;
}
#block2_1{
  margin-left: 35px;
  margin-top: 10px;
}

.right-panel2 {
  display: flex;
  align-items: flex-start; /* Вирівнювання вгору */
}
.content1#cont1::before,
.content1#cont2::before,
.content1#cont4::before  {
  content: "";
  width: 10px; /* Розмір кружка */
  height: 10px;
  background-color: #fe07a3; /* Колір кружка, замість #yourColor вкажіть бажаний колір */
  border-radius: 50%; /* Заокруглення для створення кругової форми */
  margin-left: -50px;
  margin-right: 40px; /* Відступ від "content1" */
  z-index: 2; 

}
.content1#cont1::before{
  background-color: #03a9f5;
}
.content1#cont2::before{
  background-color: #fec107;
}
.content1#cont4::before{
  background-color: #30c2d0;
}

#line {
  width: 1px; /* Ширина лінії */
  background-color:rgb(236, 236, 236); /* Колір лінії, замість #yourColor вкажіть бажаний колір */
  margin-right: 0px; /* Відступ між лінією і "right-panel2-content" */
  margin-left: 5px;
  height: 190px; /* Висота лінії відповідає висоті "right-panel2-content" */
  margin-top: 25px;
  z-index: 1; 
  position: absolute; /* Додаємо позицію absolute для точного позиціонування */


}
.content-panel {
  max-height: 930px; /* Задайте максимальну висоту, на яку ви хочете обмежити блок */
  max-width: 1000px;
  display: flex; /* Встановіть flex-контейнер для розміщення елементів поруч */
  flex-direction: row; /* Розташуйте елементи горизонтально */
  overflow: hidden; /* Сховайте зайвий контент, якщо він виходить за межі */
}
.content-panel.midle,
.content-panel.right-panel {
  max-height: 100%; /* Зробіть блоки повідомлень і курсів максимальною висотою */
  flex: 1; /* Розтягніть обидва блоки на рівній ширині в "down" */
}
.list-group-item.list-group-item-action.courses.active,.list-group-item.list-group-item-action.message.active
{height: 45px;}

  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg  xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .list-group-item.list-group-item-action.panel.disabled
  {height: 45px;}

  .figure-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  
  .small-square {
    width: 2px;
    height: 20px;
    background-color: #03a9f5;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 3px;
  }

  .small-square:first-child {
    background-color: #fec107; /* Змінюємо колір першого квадратика */
  }
  
  .small-square:last-child {
    background-color: #03a9f5; /* Змінюємо колір останнього квадратика */
  }
  

  .custom-text {
    font-size: 12px; /* Змінюємо розмір шрифту тексту */
    color: #686868; /* Змінюємо колір тексту */
    margin-top: 5px; /* Додаємо верхній відступ */
    margin-right: 10px; /* Додаємо верхній відступ */

  }
  
  /* Стилізація тексту всередині .figure-container */
  .figure-container {
    color: #707070; /* Змінюємо колір тексту всередині .figure-container */
    font-weight: bold; /* Змінюємо жирність тексту */
    margin-top: 10px; /* Додаємо верхній відступ */
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  @media (max-width: 768px) {
    /* Змінюйте стилі для екранів менше 768px шириною */
    .sidebar {
        display: none; /* Приховувати сайдбар на малих екранах */
    }

    .page-content {
        margin-left: 0; /* Забрати відступ сторінки для великих екранів */
    }
    #btn7,#btn8{
      display: none;
    }
}
